<!DOCTYPE html>
<html>
    <head>
        <title>Authentication</title>
    </head>
    <body>
        <h1>Please Log In</h1>
        <p>Please <b><a href="{{ path('logout') }}">log in</a></b> with your Bethel credentials to use this application.</p>
    </body>
</html>