.project
^cache$
^log$
web/uploads
test
vendor
app/cache
.orig
sensiodistribution
.idea/*
.DS_Store/*
(?i)\.mwb

web/bundles*
web/css*
web/img*
web/js*
app/bootstrap*
app/bootstrap.php.cache
app/cache/*
app/logs/*
vendor/*
app/config/parameters.yml
composer.phar

web/bundles/
.DS_Store
.hgrc
~

db_back/*.sql