.project
^cache$
^log$
web/uploads
test
vendor
app/cache
.orig
sensiodistribution
.idea/*
.DS_Store/*
(?i)\.mwb

web/*
app/bootstrap*
app/bootstrap.php.cache
app/cache/*
app/logs/*
vendor/*
app/config/parameters.yml
composer.phar

bin/
web/bundles/
composer.lock
.DS_Store
.hgrc
.htaccess
~
