{% extends 'BethelFrontBundle:Default:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@BethelFrontBundle/Resources/public/lib/pikaday/css/pikaday.css' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all">
    {% endstylesheets %}
    <style type="text/css">
        /* override the foundation padding for table elements */
        .pika-table th, .pika-table td {
            padding:0px;
        }
    </style>
{% endblock %}

{% block subnav_links %}
    {% if is_granted('ROLE_ADMIN') %}
        <dd class="{{ app.request.get('_route') == 'email_create' ? 'active' }}"><a href="{{ path('email_create') }}">Create Email</a></dd>
    {% endif %}
{% endblock %}